/UrlShortenerApi/.vs/UrlShortenerApi/CopilotIndices
/UrlShortenerApi/.vs
/UrlShortenerApi/bin
/UrlShortenerApi/obj
UrlShortenerApi/appsettings.json
/UrlShortener.Utils/bin
/UrlShortener.Utils/obj
/UrlShortener.DataAccess/obj
