# Ignore Visual Studio artifacts
.vs/
**/CopilotIndices

# Ignore build outputs
**/bin/
**/obj/
TestResults-Debug/

# Ignore app settings (if not meant for versioning)
UrlShortenerApi/appsettings.json

# Ignore project-specific folders
UrlShortener.Controllers/Properties/
