/UrlShortenerApi/.vs/UrlShortenerApi/CopilotIndices
/UrlShortenerApi/.vs
/UrlShortenerApi/bin
/UrlShortenerApi/obj
UrlShortenerApi/appsettings.json
/UrlShortener.Utils/bin
/UrlShortener.Utils/obj
/UrlShortener.DataAccess/obj
/UrlShortener.DataAccess/bin
/.vs
/UrlShortener.Services/obj
/UrlShortener.Services/bin
/UrlShortener.Controllers/bin
/UrlShortener.Controllers/obj
/UrlShortener.Controllers/Properties
/UrlShortenerApi.Controllers.Tests/obj
/UrlShortenerApi.Controllers.Tests/bin
